imge/weather bot.json
{
  "name": "weather bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        -384
      ],
      "id": "d6e4d635-593e-469d-9d41-d59129a434a5",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "5DayForecast",
        "locationSelection": "zipCode",
        "zipCode": "YOUR_ZIP_CODE,YOUR_COUNTRY_CODE",
        "language": "english"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        208,
        -208
      ],
      "id": "45a37495-5946-4e36-b3ec-b9dd6414721b",
      "name": "OpenWeatherMap",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "openWeatherMapApi": {
          "id": "YOUR_N8N_CREDENTIAL_ID",
          "name": "OpenWeatherMap account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=Daily Updates\nGood morning! ☀️ \nHere is your day-to-day outlook:\n\n🌅 MORNING (Next 3 Hours)\n• Temp: {{ $json.list[0].main.temp }}°C\n• Forecast: {{ $json.list[0].weather[0].description }}\n• Chance of Rain: {{ Math.round($json.list[0].pop * 100) }}%\n\n☀️ AFTERNOON (~6 Hours Later)\n• Temp: {{ $json.list[2].main.temp }}°C\n• Forecast: {{ $json.list[2].weather[0].description }}\n• Chance of Rain: {{ Math.round($json.list[2].pop * 100) }}%\n\n🌌 EVENING (~12 Hours Later)\n• Temp: {{ $json.list[4].main.temp }}°C\n• Forecast: {{ $json.list[4].weather[0].description }}\n• Chance of Rain: {{ Math.round($json.list[4].pop * 100) }}%",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        -384
      ],
      "id": "a47f3011-fb5a-4ae9-b19f-6fc2348031e2",
      "name": "Send a text message",
      "webhookId": "b0e5e9d5-304d-4864-82f0-7f747b7950b3",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_N8N_CREDENTIAL_ID",
          "name": "Telegram account 2"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ad3bd81b-5bcb-43bc-b554-2f2248dfaa75",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c48b66df2a83f1e9033a5e0c90c459eec0e04871903a021a4389fdd0962bace3"
  },
  "id": "cI9kbgmndOqSIw6T",
  "tags": []
}